:root{
    --purple-1: #e0cdf5;
    --purple-3: #ae77ec;
    --purple-6: #8232dd;
    --purple-7: #7518df;
    --purple-8: #6513c2;

    
    --rightNavSize: 250px;

    --darkbackground-color: #272822;
}
body{
    padding-bottom:0px;
    margin-bottom:0px;
    height:100%;
}
.exercice{
    border: 6px solid var(--purple-3);
    padding: 20px;
    background-color: var(--purple-1);
    color:var(--purple-7);
}
.exercice h2{
    color: var(--purple-8);
    border-bottom: 2px solid var(--purple-7);
}
i{
    font-weight: 700;
}
.inline-code{
    background-color: var(--darkbackground-color);
    color: white;
    padding: 1px 5px;
    border-radius: 4px;
    font-weight: 500;
}
.inline-code .cmd{
    color:#e6db74
}
.inline-code .option{
    color:rgb(255, 25, 25)
}
.inline-code .jskey {
    color: #66d9ef;
}
.inline-code.jskey {
    color: #66d9ef;
}
.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    width: calc(100% - var(--rightNavSize));
    
}
html{
    height:100%
}
/* Adjust main content to align properly */
.main-content {
    flex:1;
    margin-right: var(--rightNavSize); /* Adjust based on navbar width + margin */
    /* For smaller screens, adjust margin as needed */
    transition: margin-right 0.3s ease;
}
.main-content h1{
    text-align: center;
    
}
.navbar.fixed-top{
    right: var(--rightNavSize); /* Align to the right side */
}
pre {
    margin: 0;
    padding: 0;
    text-align: left;
}

/* Adjust spacing */
pre code {
    display: block;
    padding: 20px;
    margin: 0;
    
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    background-color: #f8f9fa;
    padding: 0px 20px;
   
}
.formatOneLine span{
    padding: 0 10px 0 0;
}
.safe-area-container{
    padding-top: 80px; /* Adjust this value to match your navbar height */
    padding-bottom: 60px;
    position: relative;
}
.section{
    margin: 80px 0;
}
.vertical-brand{
    height: 56px; /* Set the height of the element */
    display: flex; /* Use flexbox for easy vertical centering */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    text-align: center; /* Center text horizontally within the element */
    font-weight: bold;
}
.vertical-brand.navbar-brand{
    font-size: 18px;
}
/* Ensure the vertical navbar is styled correctly */
.vertical-navbar {
    width: var(--rightNavSize); /* Adjust width as needed */
    position: fixed;
    top: 0; /* Height of the main horizontal navbar */
    bottom: 0;
    right: 0; /* Align to the right side */
    background-color: #f8f9fa; /* Background color */
    overflow-y: auto; /* Enable scrolling */
}
 

/* Flexbox setup */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/* Ensure responsiveness */
@media (max-width: 992px) {
    .footer{
        width: 100%;
    }
    .main-content {
        margin-right: 0; /* Reset margin for smaller screens */
    }
    .navbar.navbar.fixed-top{
        right:0px;
    }
    .vertical-navbar {
        width: 100%; /* Full width for smaller screens */
        /* max-width: 250px; Max width for consistency */
        text-align: center;
        position: static; /* Static position for stacking */
        right:0px;
    }
}
/* Ensure responsiveness */
@media (max-width: 768px) {
    pre code {
        font-size: 14px; /* Adjust font size for smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }
}